@import "src/styles/_index.scss";

.modal-settings {
  &__body {
    text-align: left;

    &--content {
      @include flexAlign;
      margin-bottom: 25px;
      justify-content: space-between;

      p {
        font-weight: 300;
        font-size: 16px;
        line-height: 17px;
        color: var(--text-default);
      }

      input {
        @include customInput;
        margin: 10px;
        width: 100px;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;

    &--button {
      margin-top: 25px;
      @include buttonApp(var(--button-green-default-bg), var(--text-button))
    }

    &--button:last-child {
      @include buttonApp(var(--background-color), var(--button-red-default-bg));
      border: 2px solid var(--button-red-default-bg);

      &:hover,
      &:focus-visible {
        background-color: var(--button-red-default-bg);
        color: var(--text-button);
      }
    }
  }
}