@import "src/styles/_index.scss";

.select {
  @include flexAlign;
  background-color: var(--background-form);
  padding: 20px 15px;
  cursor: pointer;
  position: relative;

  &__content {
    @include flexAlign;
    justify-content: space-between;
    width: 370px;

    &--header {
      font-weight: 400;
    }
  }

  &__list {
    position: absolute;
    background-color: var(--background-form);
    left: 0;
    top: 57px;
    z-index: 1;
    box-shadow: var(--box-shadow-header);

    li {
      padding: 20px 15px;
      width: 400px;
      color: var(--text-default);
      border-top: 1px solid var(--line-dropdown);
    }
  }

  .show {
    top: 57px
  }
}