@mixin makeContainer($padUpDown, $padLeftRight) {
  margin: 0 auto;
  padding: $padUpDown $padLeftRight;
  max-width: 1440px;
}

@mixin flexAlign {
  display: flex;
  align-items: center;
}

@mixin headerItem() {
  span {
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: var(--header-text);
  }

  svg {
    fill: var(--header-text);
    margin-right: 10px;
  }

  &:hover,
  &:focus-visible {
    span {
      color: var(--header-hover);
    }

    svg {
      fill: var(--header-hover);
    }

  }
}

@mixin buttonApp($backgroundColor, $textColor) {
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  padding: 19px 50px;
  background-color: $backgroundColor;
  color: $textColor;
  &:hover,
  &:focus-visible {
    @if $backgroundColor == var(--button-green-default-bg) {
      background-color: var(--button-green-hover-bg);
    };
    @if $backgroundColor == var(--button-red-default-bg) {
      background-color: var(--button-red-hover-bg);
    }
  }
}

@mixin headerNav {
  button {
    div, a {
      @include flexAlign;
      @include headerItem;
    }
  }
}

@mixin customInput {
  border: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  background-color: var(--background-form);
  padding: 19px 15px;
  cursor: pointer;
  color: var(--text-default);
  outline-color: var(--header-text);

  &:focus-visible,
  &:hover {
    outline: 1px solid var(--header-text);
  }

  &::placeholder {
    color: var(--placeholder-text);
  }
}