@import "src/styles/_index.scss";

.upper {
  margin-bottom: 32px;

  &__up {
    @include flexAlign;
    justify-content: space-between;

    &--header {
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      color: var(--text-default);
    }
  }

  &__down {
    margin-top: 30px;
    margin-bottom: 32px;
    display: flex;

    &--left {
      display: flex;
      flex-direction: column;
      margin-right: 32px;
    }
  }
}