@import "src/styles/_index.scss";

.todo {
  &__form {
    max-width: 370px;
    margin-bottom: 25px;

    &--input {
      @include customInput;
      width: 370px;
      display: block;
      margin-bottom: 25px;
    }

    &--button {
      @include buttonApp(var(--button-green-default-bg), var(--text-button))
    }
  }
}

.tasks {
  margin-top: 25px;
  margin-bottom: 20px;

  li {
    border-top: 1px solid var(--line-todo);
  }

  li:last-child {
    border-bottom: 1px solid var(--line-todo);
  }

}

.todo__time {
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  color: var(--placeholder-text);
}