@import "src/styles/_index.scss";

.timer {
  max-width: 730px;
  width: 100%;

  &__header {
    @include flexAlign;
    justify-content: space-between;
    padding: 20px 40px;

    &--task {
      font-weight: 700;
      font-size: 16px;
      line-height: 17px;
      color: var(--text-inverse);
      margin-right: 10px;
    }

    &--tomato {
      font-weight: 400;
      font-size: 16px;
      line-height: 17px;
      color: var(--text-inverse);
      white-space: nowrap;
    }
  }

  &__body {
    background-color: var(--background-form);
    padding-top: 70px;
    padding-bottom: 107px;
    @include flexAlign;
    flex-direction: column;

    &--timer {
      @include flexAlign;

      p {
        margin-right: 25px;
        font-weight: 200;
        font-size: 150px;
        line-height: 179px;
      }

      button svg {
        fill: var(--line-dropdown);
        cursor: pointer;

        &:hover,
        &:focus-visible {
          fill: var(--button-green-hover-bg)
        }
      }
    }

    &--task {
      padding: 32px;
      font-weight: 400;
      font-size: 16px;
      line-height: 17px;
      color: var(--placeholder-text);
    }

    &--form {
      display: flex;

      .green-button {
        @include buttonApp(var(--button-green-default-bg), var(--text-button));
        margin-right: 25px;
      }

      .gray-button {
        @include buttonApp(transperent, var(--line-dropdown));
        border: 2px solid var(--line-dropdown);
        cursor: default;
      }

      .red-button {
        @include buttonApp(transperent, var(--button-red-default-bg));
        border: 2px solid var(--button-red-default-bg);

        &:hover,
        &:focus-visible {
          background-color: var(--button-red-default-bg);
          color: var(--text-button);
        }
      }

    }
  }

  &__empty {
    background-color: var(--background-form);
    width: 730px;
    height: 521px;
  }
}

.bg-default {
  background-color: var(--line-dropdown) !important;
}

.bg-red {
  background-color: var(--button-red-default-bg);
}

.bg-green {
  background-color: var(--button-green-default-bg);
}

.text-default {
  color: var(--text-default);
}

.text-red {
  color: var(--button-red-default-bg);
}

.text-green {
  color: var(--button-green-default-bg);
}
